html {
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#root{
    height: 100%;
    background: linear-gradient(0deg, #fff 40%, #fffda6);
}

.typing {
    display: inline-block;
}

.cursor {
    display: inline-block;
    width: 8px;
    height: 16px;
    margin-left: 2px;
    background-color: white;
    animation: blink 0.7s infinite;

}
@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

