html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#root {
  height: 100%;
}

.readonly {
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  opacity: 0;
}
